extends layout

block content
  h1= title
  p Welcome to #[em Aperature Inventory]

  h1 Dynamic content 

  p The inventory has the following record counts: 

  ul 
    li #[strong Items: ] !{ numItems }
    li #[strong Item instances: ] !{ numItemInstances }
    li #[strong Item instances available: ] !{ numItemInstancesAvailable }
    li #[strong Categories: ] !{ numCategories }
