extends layout

block content
    h1 Delete item: #[a(href=item.url)= title]

    if allItemInstances.length 
        h3 Warning: The following item instances will be deleted 
        ul
            each itemInstance in allItemInstances 
                li
                    a(href=itemInstance.url) #{ itemInstance._id }
                    |  (#{ itemInstance.status })
        hr

    p #[strong Are you sure you wish to delete this item?]
    form(method='post')
        .form-section
            label(for='password') Password: 
            input(type='password' id='password' name='password')
        .form-section
            button Delete
    
    if errorMsgs
        ul
            each error in errorMsgs
                li= error